.opinioes {
    text-align: center;
    margin: 9em 9em;
    padding: 2em 0;
    background: var(--cor-opinioes);
    border-radius: 16px;
}

.opinioes__subt {
    color: var(--cor-vermelha);
    font-weight: 600;
    font-size: 0.9rem;
}

.opinioes__titulo {
    font-size: 2.25rem;
    padding: 0.5em 11em;
    width: 65%;
}

.opinioes__img {
    padding: 0.8em 0;
}

.img__titulo {
    padding: 0.5em 0;
}

.img__texto {
    color: var(--cor-cinza);
    font-weight: 400;
    font-size: 0.9rem;
}