.rodape {
    text-align: center;
    margin-top: 5em;
    background: var(--cor-rodape);
    padding: 5em 0;
}

.rodape__titulo {
    font-weight: 600;
    font-size: 2.25rem;
}

.rodape__texto {
    font-weight: 400;
    font-size: 1.25rem;
    padding: 1em 0;
}

.rodape__email {
    border: 1px solid #98A2B3;
    border-radius: 5px;
    width: 13%;
    background-color: transparent;
    padding: 0.8em 0.5em;
}

.rodape__email::placeholder {
    font-family: var(--fonte-inter);
    font-weight: 400;
    font-size: 1rem;
    color: #98A2B3;

}

.rodape__botao {
    background-color: var(--cor-vermelha);
    border: 0 solid var(--cor-vermelha);
    border-radius: 8px;
    padding: 1em 0.8em;
    margin-left: 0.5em;
}

.link__rodape {
    color: var(--cor-branca);
    text-decoration: none;
}

.rodape__direitos {
    color: #98A2B3;
    font-weight: 400;
    padding: 1.5em;
}