.vagas {
    text-align: justify;
    margin-left: 35em;
}

.vagas__desing__titulo, .vagas__dev__titulo {
    font-size: 1.25rem;
}

.vagas__desing__product, .vagas__desing__ux, .vagas__dev__ios, .vagas__dev__front, .vagas__dev__back {
    margin: 2em;
    padding: 1.5em 1em;
    border: 1px solid var(--cor-borda);
    border-radius: 16px;
    width: 50%;
}

.product__titulo, .ux__titulo, .ios__titulo, .front__titulo, .back__titulo {
    font-size: 1.125rem;
    padding: 1em 0;
}

.product__p, .ux__p, .ios__p, .front__p, .back__p {
    color: var(--cor-cinza);
    display: inline;
    padding: 0 1em 0 0;
}